services:
  # --- FRONTEND (React) ---
  frontend:
    build:
      context: ./
      dockerfile: Dockerfile
    container_name: react_app
    restart: always
    ports:
      - "3000:3000" 
networks:
  reseau_partage:
    external: true
    name: global_network